@import url('https://kit-pro.fontawesome.com/releases/v5.9.0/css/pro.min.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


*,
:after,
::before {
	box-sizing: border-box
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	color: #fff;
	background-color: #101010;
	line-height: 1.5;
	font-family: 'Josefin Sans', sans-serif;
	background-image: url('../images/bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 500px) {
	html,
	body {
		height: auto;
		background-image: url('../images/bg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.bg {
	height: 100%;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0;
	left: 0;
}

a {
	position: relative;
	z-index: 999;
	color: var(--white-color);
	text-decoration: none;
	cursor: pointer;
}

p {
	font-size: 20px;
	color: #565555;
}

h1 {
	font-size: 21px;
	color: var(--white-color);
	font-weight: bold;
}

button {
	background-color: transparent;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	border: 0px;
	outline: none;
	border: none;
	line-height: 1.6;
	text-align: left;
}

.button {
	background-color: transparent;
	border: 3px solid #e40b0b;
	padding: 5px 25px;
	text-align: center;
	font-size: .9rem;
	font-weight: bold;
	line-height: 1.6;
	border-radius: 10px;
	color: #f8f9fa;
	transition: 0.5s;
	cursor: pointer;
	outline: 0;
}

.button:hover {
	color: #e40b0b;
	border: 2px solid transparent;
	background-color: #e40b0b;
	border-color: #e40b0b;
}

.button i {
	transition: 0.5s;
}

.button:hover i {
	color: #212529!important;
	transition: 0.5s;
}

@media (max-width: 500px) {
	.button {
		margin: 5px;
	}
}

.center {
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
	overflow: hidden;
}

@media (max-width: 650px) {
	.center {
		padding-top: 35px;
		padding-bottom: 35px;
	}
}

.center-content {
	display: table-cell;
	max-width: 250px!important;
	vertical-align: middle;
	text-align: center;
	padding: 0%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

input {
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	background-color: transparent;
	color: var(--white-color);
	border: 0px;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(32.5px + .75rem + 2px);
	padding: .675rem .80rem;
	color: #808080;
	font-size: 15px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #191919;
	border-radius: 5px;
	border: 0px;
}

.custom-select {
	display: inline-block;
	width: 100%;
	height: calc(2.3rem + 5px);
	padding: .675rem .80rem;
	font-weight: 400;
	line-height: 1.6;
	color: grey;
	font-family: 'Josefin Sans', sans-serif;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
	background-color: #202020;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 0px;
}

::-webkit-scrollbar {
	width: 5px
}

::-webkit-scrollbar-track {
	background: #151515
}

::-webkit-scrollbar-thumb {
	background: #252525;
	border-radius: 50px
}

::-webkit-scrollbar-thumb:hover {
	background: #303030
}

.box {
	max-width: 800px;
	margin: 30px;
	padding: 35px;
	border-radius: 20px;
	box-shadow: 0px 0px 40px #e40b0b;
}

.box h1 {
	font-size: 15px;
	text-align: left;
	margin: 0px;
}

.box h2 {
	font-size: 35px;
	text-align: center;
}

.dashboard {
	display: inline-block;
	width: 650px;
	vertical-align: middle;
}

@media (max-width: 500px) {
	.dashboard {
		display: inline-block;
		width: 350px;
		vertical-align: middle;
	}
}

.panel {
	margin: 15px!important;
	padding: 35px;
	border: 2px solid #151515;
	border-radius: 10px;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.50);
}

.panel h2 {
	text-align: left;
	margin: 0px;
}

.panel h1 {
	text-align: left;
}

.panel p {
	text-align: left;
}

.links {
	display: inline-block;
	margin: 15px;
}

.links h1 {
	text-align: center;
	margin: -0px;
}

.links p {
	text-align: center;
	margin: 0px;
}

.links input {
	font-weight: normal;
	text-align: center;
	color: #565555;
	font-size: 20px;
	margin-top: 5px;
}

.cheats {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
	padding: 35px;
	display: inline-block;
	margin: 15px;
	border-radius: 10px;
}

.cheats h1 {
	text-align: left;
}

.cheats h2 {
	text-align: center;
	font-size: 35px;
}

.cheats p {
	text-align: left;
	margin: 0px;
	margin-top: -15px;
}

.cheats img {
	border-radius: 10px;
	opacity: 0.5;
	height: 100px;
	width: 100%;
	object-fit: cover;
	filter: grayscale(100%);
}

audio {
	background-color: #242525;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 250px;
	height: 20px;
}

img#logo{
    border-radius :50%;
    padding:50px;
		width: 300px;
		height: 300px;
}
